<main fxLayout="column">
  <section fxLayout="column">
    <span class="h5 text-warning">Genres:</span>
    <div fxLayout="row" class="genres-list">
      <nb-card
        *ngFor="let genre of moviesGenres"
        class="genre-card h5"
        fxFlex="200px"
      >
        <span>
          {{ genre }}
        </span>
        <div
          class="wrapper"
          fxFlex
          [style.background-image]="getGenreWallpaperPath(genre)"
        ></div>
      </nb-card>
    </div>
  </section>
  <section fxLayout="column">
    <span class="h5 text-warning">Top Movies:</span>
    <div fxLayout="row wrap">
      <filmopedia-movie-card
        *ngFor="let movie of movies"
        fxLayout="column"
        class="movie-card"
        [movie]="movie"
        ngClass.xs="movie-card_mobile"
        ngClass.sm="movie-card_tablet"
        ngClass.md="movie-card_desktop"
        ngClass.gt-md="movie-card_desktop-large"
      >
        <img class="poster" [src]="movie.posterURL" [alt]="movie.name" />
        <span class="movie-name h6 text-success">{{ movie.name }}</span>
        <div fxLayout="row" class="text-hint paragraph-2">
          <span>{{ movie.year }},&nbsp;</span>
          <span>{{ movie.countries[0] }},&nbsp;</span>
          <span>{{ movie.genres[0] }}</span>
        </div>
      </filmopedia-movie-card>
    </div>
  </section>
</main>
