<a [routerLink]="['/movie', movie.id]">
  <img [src]="movie | moviePoster" [alt]="movie.title" fxFlex.xs="100px" />
</a>
<div fxLayout="column" fxFlex class="movie-info-block">
  <a
    [routerLink]="['/movie', movie.id]"
    class="movie-title text-success"
    [title]="movie.title"
  >
    {{ movie.title }}
  </a>
  <span class="text-hint">{{ movie.release_date | date: 'yyyy' }}</span>
  <span class="overview caption" fxHide.gt-xs>{{ movie.overview }}</span>
</div>
<nb-icon
  fxHide
  fxHide.xs
  [fxShow]="isFavoriteMovie"
  class="favorite-movie-icon"
  status="warning"
  [icon]="isFavoriteMovie ? 'star' : 'star-outline'"
  [nbTooltip]="isFavoriteMovie ? 'Remove From Favorites' : 'Add To Favorites'"
  [options]="{ animation: { type: 'pulse' } }"
  (click)="
    isFavoriteMovie
      ? moviesService.removeMovieFromFavorites(movie.id)
      : moviesService.addMovieToFavorites(movie.id)
  "
>
</nb-icon>
<nb-badge
  *ngIf="movie.vote_average as rating"
  [text]="rating"
  status="success"
  fxHide.xs
>
</nb-badge>
