@import '~@angular/flex-layout/mq';
@import '../../../themes.scss';

@mixin movie-card-width($cardsPerRow, $spacer) {
  flex-basis: calc(100% / #{$cardsPerRow} - #{$spacer});
}

:host {
  $spacer: 15px;

  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  transition: all 0.5s;
  margin: 0 ($spacer / 2) $spacer;

  &:hover {
    background-color: nb-theme(background-basic-color-1);

    .favorite-movie-icon {
      display: inline-block !important;
    }
  }

  @include layout-bp(xs) {
    @include movie-card-width(2, $spacer);
  }

  @include layout-bp(sm) {
    @include movie-card-width(4, $spacer);
  }

  @include layout-bp(md) {
    @include movie-card-width(5, $spacer);
  }

  @include layout-bp(lg) {
    @include movie-card-width(6, $spacer);
  }

  @include layout-bp(gt-lg) {
    @include movie-card-width(7, $spacer);
  }

  .poster-wrapper img {
    width: 100%;
  }

  .movie-name {
    display: inline-block;
    word-break: break-word;
    text-decoration: none;
  }

  .favorite-movie-icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
