<img [src]="movie.posterURL" [alt]="movie.name" />
<span class="movie-name h6 text-success">{{ movie.name }}</span>
<div fxLayout="row" class="text-hint paragraph-2">
  <span>{{ movie.year }},&nbsp;</span>
  <span>{{ movie.countries[0] }},&nbsp;</span>
  <span>{{ movie.genres[0] }}</span>
</div>
<nb-icon
  fxHide
  [fxShow]="isFavoriteMovie"
  class="favorite-movie-icon"
  status="warning"
  [icon]="isFavoriteMovie ? 'star' : 'star-outline'"
  [nbTooltip]="isFavoriteMovie ? 'Remove From Favorites' : 'Add To Favorites'"
  [options]="{ animation: { type: 'pulse' } }"
  (click)="
    isFavoriteMovie
      ? moviesService.removeMovieFromFavorites(movie.id)
      : moviesService.addMovieToFavorites(movie.id)
  "
>
</nb-icon>
