<a [routerLink]="['movie', movie.id]">
  <img [src]="movie | moviePoster" [alt]="movie.title" />
</a>
<a
  [routerLink]="['movie', movie.id]"
  class="movie-name h6 text-success"
  [title]="movie.title"
>
  {{ movie.original_title }}
</a>
<span class="text-hint">{{ movie.release_date | date: 'yyyy' }}</span>
<nb-icon
  fxHide
  [fxShow]="isFavoriteMovie"
  class="favorite-movie-icon"
  status="warning"
  [icon]="isFavoriteMovie ? 'star' : 'star-outline'"
  [nbTooltip]="isFavoriteMovie ? 'Remove From Favorites' : 'Add To Favorites'"
  [options]="{ animation: { type: 'pulse' } }"
  (click)="
    isFavoriteMovie
      ? moviesService.removeMovieFromFavorites(movie.id)
      : moviesService.addMovieToFavorites(movie.id)
  "
>
</nb-icon>
<nb-badge *ngIf="movie.vote_average as rating" [text]="rating" status="success">
</nb-badge>
