@import '~@angular/flex-layout/mq';
@import '../../../themes.scss';
@import '../../scss/mixins';

:host {
  $spacer: 1rem;

  display: flex;
  flex-direction: row !important;
  border-radius: $spacer / 2;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
  background-color: nb-theme(background-basic-color-1);

  &:not(:last-child) {
    margin-bottom: $spacer;
  }

  .movie-info-block {
    padding: ($spacer / 2) $spacer;

    .movie-title {
      @include max-lines-text();

      font-size: 1rem;
      font-weight: bold;
      line-height: 1.25rem;
      align-self: flex-start;
      word-break: break-word;
      text-decoration: none;
    }

    .overview {
      @include max-lines-text(4);
      margin-top: auto;
    }
  }

  .favorite-movie-icon {
    cursor: pointer;
    position: absolute;
    bottom: $spacer / 1.5;
    right: $spacer / 1.5;
  }

  @include layout-bp(gt-xs) {
    flex-direction: column !important;
    border-radius: 0;
    background-color: transparent;
    padding: $spacer / 1.5;
    margin: 0 ($spacer / 2);

    &:hover {
      background-color: nb-theme(background-basic-color-1);

      .favorite-movie-icon {
        display: inline-block !important;
      }
    }

    .movie-info-block {
      padding: 0;
      margin-top: $spacer / 3;
    }
  }

  @include layout-bp(sm) {
    @include movie-card-width(4, $spacer);
  }

  @include layout-bp(md) {
    @include movie-card-width(5, $spacer);
  }

  @include layout-bp(lg) {
    @include movie-card-width(6, $spacer);
  }

  @include layout-bp(gt-lg) {
    @include movie-card-width(7, $spacer);
  }
}
