@import 'themes';
@import '~@nebular/theme/styles/globals';
@import '~swiper/css/swiper.min.css';

@include nb-install() {
  @include nb-theme-global();
}

.swiper-button-prev,
.swiper-button-next {
  color: nb-theme(color-primary-500);
  outline: none;

  &::after {
    font-size: 35px;
  }
}

.swiper-pagination-bullet {
  background: nb-theme(background-primary-color-1);
  opacity: 0.5;

  &-active {
    opacity: 1;
  }
}

img,
iframe {
  display: block;
  max-width: 100%;
}

nb-spinner {
  background: none !important;
}
[nbButton]:focus {
  box-shadow: none !important;
}
/* You can add global styles to this file, and also import other style files */
