@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

img {
  max-width: 100%;
}

nb-spinner {
  background: none !important;
}
[nbButton]:focus {
  box-shadow: none !important;
}
/* You can add global styles to this file, and also import other style files */
