@import '~@angular/flex-layout/mq';

.genres-swiper {
  position: relative;

  .swiper-container {
    height: 100px;
    padding-bottom: 30px;
    box-sizing: content-box;

    .genre-card {
      position: relative;
      cursor: pointer;
      overflow: hidden !important;

      .wrapper {
        background: no-repeat center center;
        background-size: cover;
        transition: all 0.5s;
      }

      span {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 1px #000;
        text-align: center;
        z-index: 10;
      }

      &:hover .wrapper,
      &:active .wrapper {
        transform: scale(1.15);
      }
    }

    .swiper-pagination {
      bottom: 0;
    }

    @include layout-bp(gt-sm) {
      padding: 0;
    }
  }

  $navButtonPosition: -30px;
  .swiper-button-prev {
    left: $navButtonPosition;
  }
  .swiper-button-next {
    right: $navButtonPosition;
  }
}

@include layout-bp(xs) {
  .movies-pagination {
    padding: 1rem;
  }
}

@include layout-bp(gt-xs) {
  .movies-list {
    margin: 0 -0.5rem;
  }
}
