<main fxLayout="column">
  <section fxLayout="column">
    <span class="h5 text-warning">Genres:</span>
    <div
      fxLayout="row"
      class="genres-list"
      *ngIf="genres$ | async as genres; else genresLoader"
    >
      <nb-card
        *ngFor="let genre of genres"
        class="genre-card h5"
        fxFlex="200px"
      >
        <span>
          {{ genre.name }}
        </span>
        <div
          class="wrapper"
          fxFlex
          [style.background-image]="getGenreWallpaperPath(genre.name)"
        ></div>
      </nb-card>
    </div>
    <ng-template #genresLoader>
      <div
        fxFlex="50px"
        nbSpinner="true"
        nbSpinnerSize="giant"
        nbSpinnerStatus="warning"
        nbSpinnerMessage="Loading genres..."
      ></div>
    </ng-template>
  </section>
  <section fxLayout="column">
    <span class="h5 text-warning">Top Movies:</span>
    <div fxLayout="row wrap">
      <filmopedia-movie-card
        *ngFor="let movie of movies"
        fxLayout="column"
        class="movie-card"
        [movie]="movie"
        ngClass.xs="movie-card_mobile"
        ngClass.sm="movie-card_tablet"
        ngClass.md="movie-card_desktop"
        ngClass.gt-md="movie-card_desktop-large"
      >
      </filmopedia-movie-card>
    </div>
  </section>
</main>
