<main fxLayout="column" fxLayoutGap.gt-sm="10px">
  <section fxLayout="column" fxLayoutGap="5px">
    <span class="h5 text-warning">Genres:</span>
    <div
      *ngIf="genres$ | async as genres; else genresLoader"
      class="genres-swiper"
    >
      <div class="swiper-container" [swiper]="genresSwiperConfig">
        <div class="swiper-wrapper">
          <nb-card
            *ngFor="let genre of genres"
            class="swiper-slide genre-card h5"
          >
            <span>
              {{ genre.name }}
            </span>
            <div
              class="wrapper"
              fxFlex
              [style.background-image]="genre.name | genreWallpaper"
            ></div>
          </nb-card>
        </div>

        <div class="swiper-pagination" fxHide.gt-sm></div>
      </div>

      <div class="swiper-button-prev" fxHide.lt-md></div>
      <div class="swiper-button-next" fxHide.lt-md></div>
    </div>
    <ng-template #genresLoader>
      <div
        fxFlex="50px"
        nbSpinner="true"
        nbSpinnerSize="giant"
        nbSpinnerStatus="warning"
        nbSpinnerMessage="Loading genres..."
      ></div>
    </ng-template>
  </section>
  <section fxLayout="column" #moviesSection>
    <span class="h5 text-warning">Movies:</span>
    <div *ngIf="movies$ | async as movies; else moviesLoader">
      <div fxLayout="row wrap" fxLayoutAlign="start start" class="movies-list">
        <filmopedia-movie-card *ngFor="let movie of movies" [movie]="movie">
        </filmopedia-movie-card>
      </div>
      <div
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        class="movies-pagination"
      >
        <button
          nbButton
          status="primary"
          size="small"
          (click)="navigateMoviesPage(1)"
          [disabled]="currMoviesPage === 1"
        >
          <nb-icon
            icon="arrowhead-left-outline"
            [options]="{ animation: { type: 'shake' } }"
          ></nb-icon>
        </button>
        <button
          nbButton
          outline
          status="primary"
          size="small"
          (click)="navigateMoviesPage(currMoviesPage - 1)"
          [disabled]="currMoviesPage === 1"
        >
          <nb-icon
            outline
            icon="arrow-ios-back-outline"
            [options]="{ animation: { type: 'shake' } }"
          ></nb-icon>
        </button>
        <span>{{ currMoviesPage }}</span>
        <button
          nbButton
          outline
          status="primary"
          size="small"
          (click)="navigateMoviesPage(currMoviesPage + 1)"
          [disabled]="currMoviesPage === totalMoviesPages"
        >
          <nb-icon
            icon="arrow-ios-forward-outline"
            [options]="{ animation: { type: 'shake' } }"
          ></nb-icon>
        </button>
        <button
          nbButton
          status="primary"
          size="small"
          (click)="navigateMoviesPage(totalMoviesPages)"
          [disabled]="currMoviesPage === totalMoviesPages"
        >
          <nb-icon
            icon="arrowhead-right-outline"
            [options]="{ animation: { type: 'shake' } }"
          ></nb-icon>
        </button>
      </div>
    </div>
    <ng-template #moviesLoader>
      <div
        fxFlex="50px"
        nbSpinner="true"
        nbSpinnerSize="giant"
        nbSpinnerStatus="warning"
        nbSpinnerMessage="Loading movies..."
      ></div>
    </ng-template>
  </section>
</main>
